<html>
  <head>
    <title>{{title}}</title>
    <style>
      body { height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center; margin:
      0; font-family: Arial, sans-serif; background-color: #f2f2f2; } h1 { text-align: center; color: #333333; } form {
      max-width: 400px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 5px; box-shadow: 0px
      0px 10px 0px rgba(0, 0, 0, 0.1); } label { display: inline-block; margin-bottom: 10px; color: #333333; }
      input[type="password"] { width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #cccccc;
      border-radius: 3px; box-sizing: border-box; } button[type="submit"] { display: block; width: 100%; padding: 10px;
      background-color: #4caf50; color: #ffffff; border: none; border-radius: 3px; cursor: pointer; font-size: 16px; }
      button[type="submit"]:hover { background-color: #3e8e41; }
    </style>
    <script>
      function validateForm() { var password = document.getElementById("password").value; var confirmPassword =
      document.getElementById("confirm-password").value; if (password === "" || confirmPassword === "") { alert("Please
      fill in all fields!"); return false; } if (password != confirmPassword) { alert("Passwords do not match!"); return
      false; } return true; }
    </script>
  </head>
  <body>
    <h1>{{header}}</h1>
    <form method="post" onsubmit="return validateForm()">
      <input type="hidden" id="token" name="token" value="{{token}}" />
      <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" /><br /><br />
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" /><br /><br />
      </div>
      <button type="submit">Submit</button>
    </form>
    <script>
      const form = document.querySelector('form'); form.addEventListener('submit', async (event) => {
      event.preventDefault(); const formData = new FormData(form); try { const response = await fetch("update-password",
      { method: 'POST', headers: { 'Content-Type': 'application/json' }, body:
      JSON.stringify(Object.fromEntries(formData.entries())) }); const data = await response.json(); if (data.error) {
      let errorMessage = ''; data.error.forEach(err => { errorMessage += `${err.code}: ${err.message}\n`; });
      alert(errorMessage); } else { alert(data.data); } } catch (error) { alert(error); } });
    </script>
  </body>
</html>