<html>
  <head>
    <title>VJOY - Verify email successful</title>
    <style>
      body { height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center; margin:
      0; font-family: Arial, sans-serif; background-color: #f2f2f2; } h1 { text-align: center; color: #333333; } h4 {
      color: #333333; font-weight: normal; }
    </style>
  </head>
  <body>
    <h1>Your email has been verified</h1>
    <h4>You can now sign in with your new account</h4>
  </body>
</html>