<html>
  <head>
    <title>VJOY - Verify email failed</title>
    <style>
      body { height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center; margin:
      0; font-family: Arial, sans-serif; background-color: #f2f2f2; } h1 { text-align: center; color: #333333; } h4 {
      color: #333333; font-weight: normal; }
    </style>
  </head>
  <body>
    <h1>No user found (invalid  activation link)</h1>
    <h4>The activation link you followed is no longer valid. This is probably because the link expired. You can request a new activation link <a href='{{ link }}'>here</a>. Thank you</h4>
  </body>
</html>